[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
pytest = "*"
psycopg2-binary = "*"
uuid = "*"
djoser = "*"
djangorestframework-simplejwt = "*"
celery = "*"
redis = "*"
flower = "*"
pytest-mock = "*"
django-enum = "*"
django-countries = "*"
enum-properties = "*"

[dev-packages]
flake8 = "*"
mypy = "*"
pylint = "*"
black = "*"
drf-spectacular = "*"

[requires]
python_version = "3.10"
python_full_version = "3.10.12"
